<div class="container">
  <h1>Welcome to Flashcard Failure</h1>

  <h3>Signup Today</h3>
  <form action="/users/sign_up" method="post">
  <input type="text" name="user[username]" placeholder="username">
  <input type="text" name="user[email]" placeholder="email">
  <input type="password" name="user[password]" placeholder="password">
  <input type="submit" value="Sign up">
</form>
<br>
<br>


<h4>Already a user? Sign in here</h4>
<form action="/users/login" method="post">
  <input type="text" name="user[email]" placeholder="email">
  <input type="password" name="user[password]" placeholder="password">
  <input type="submit" value="Log in">
</form>


